@mixin icon($family, $name, $content) {
  .icon-#{$family}-#{$name} {
    &:before {
      content: $content;
    }
  }
}

@mixin icon-family($name) {
  [class^="icon-#{$name}-"],
  [class*=" icon-#{$name}-"] {
    font-family: "#{$name}" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
